<footer class="footer">

	<div class="footer__copyright">
		<span>© {{ 'now' | date: "%Y" }}
			<a href="https://vchrombie.github.io/" target="_blank">{{ site.data.settings.basic_settings.site_owner }}.</a>
		</span><br><br>
    	<span class="sidebar-nav-item">Hosted<a href="https://www.github.com/vchrombie/blog/"><i class="fas fa-code" style="color: grey"></i></a> with <i class="fa fa-heart" style="color: red"></i> on<a href="https://www.github.com/"><i class="fab fa-github" style="color: black"></i>.</a></span>
	</div>

</footer>